@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 22%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 22%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 22%;

    --primary: 217 89% 49%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217 70% 88%;
    --secondary-foreground: 217 89% 49%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 43%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 22%;

    --destructive: 4 90% 58%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 89%;
    --input: 0 0% 89%;
    --ring: 217 89% 49%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 15%;
    --foreground: 0 0% 96%;

    --card: 0 0% 15%;
    --card-foreground: 0 0% 96%;

    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 96%;

    --primary: 217 89% 49%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 22%;
    --secondary-foreground: 0 0% 96%;

    --muted: 0 0% 22%;
    --muted-foreground: 0 0% 66%;

    --accent: 0 0% 22%;
    --accent-foreground: 0 0% 96%;

    --destructive: 4 90% 58%;
    --destructive-foreground: 0 0% 96%;

    --border: 0 0% 22%;
    --input: 0 0% 22%;
    --ring: 217 89% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Noto Sans TC', sans-serif;
  }
}
